.list-header {
    display: inline-block;
    width: 33%;
    font-size: 20px;
    /* text-align: center; */
    /* height: 50%; */
    position: relative;
    margin-left: 4px;
}

.form {
    margin: 20px;
    padding: 10%;
}

[role=tooltip].popup-content {
    width: 300px !important;
    box-shadow: 0 0 3px rgba(0,0,0,.16);
    border-radius: 5px;
}



.waveform {
     position: unset !important;
     overflow: overlay !important;
}

div.item.song-upload-track{
    height: 100px;
    border-style: solid;
    margin-top: 50px;
    
}

div.item.song-collab-track {
    height: 100px;
    border-style: solid;
    margin-top: 60px;
}

/* dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;} */
