.list-header {
    display: inline-block;
    width: 33%;
    font-size: 20px;
    position: relative;
    margin-left: 4px;
}

.form {
    margin: 20px;
    padding: 10%;
}

[role=tooltip].popup-content {
    width: 300px !important;
    box-shadow: 0 0 3px rgba(0,0,0,.16);
    border-radius: 5px;
}

.waveform {
     position: unset !important;
     overflow: overlay !important;
}

div.item.song-upload-track{
    height: 100px;
    border-style: solid;
    margin-top: 50px;
    
}

div.item.song-collab-track {
    height: 100px;
    border-style: solid;
    margin-top: 60px;
}

button.ui.circular.button {
    background-color: rgba(0,166,124,0.5);
}

div.ui.menu {
    background-color: rgba(0,166,124,0.5);
}

a div.content  {
    color:  rgb(20, 90, 75);
    font-size: large;
}

a p {
    color:  rgb(20, 90, 75);
    font-size: small;
}

 div.ui.bottom.attached.segment.active.tab div.list-header {
    font-size: xx-large;
}

div.col div.content {
    font-size: medium;
}

div.col div.header {
    font-size: medium;
}
/* 
div.ui.tiny.animated.celled.list {
    background-color: rgb(50,50,50);
}


div.ui.bottom.attached.segment.active.tab {
    background-color: rgb(100,100,100);
} */

/* .App {
    background-image: url('/Users/anansi/Development/code/Mod5/sterio-frontend/src/images/ster.io-background.jpg');
} */